:root {
  --text-color: #1c1917;
  --background-color: #f1eee4;
  --primary-color: #e62923;
  --secondary-color: #d8c28e;
  --dark-secondary-color: #929288;
  --success-color: #53884d;

  --nav-background-color: #fff;
  --nav-border-color: #e7e5e4;
  --nav-link-color: #1c1917;

  --button-primary-text-color: #fff;
  --button-primary-color: #e62923;
  --button-primary-hover-color: #e62923;

  --code-light-background-color: rgba(255, 255, 255, .4);
  --code-editor-border-color: #e2d1aa;

  --noto-sans-subset: "Noto Sans JP";
}

// Body

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font: 1.2em "Plus Jakarta Sans", var(--noto-sans-subset), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

:root:lang(zh) body { --noto-sans-subset: "Noto Sans SC"; }
:root:lang(ja) body { --noto-sans-subset: "Noto Sans JP"; }

// Navigation

.tryruby-navbar {
  background: var(--nav-background-color);
  border-bottom: 1px solid var(--nav-border-color);

  // Override bootstrap
  box-shadow: none;

  // Logo
  .tryruby-brand,
  .tryruby-brand:hover {
    color: var(--primary-color);
    font: bold italic 2.5em/.8 "Reenie Beanie", cursive;
    letter-spacing: -2px;
    text-transform: lowercase;
  }
}

.tryruby-navbar-toggler {
  border: none;
}

.tryruby-navbar-links {
  flex-grow: 0;
  font-size: .75em;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link,
.nav-link {
  color: var(--nav-link-color);
  padding-inline: 1rem;
}

.language-menu-toggle {
  background: transparent;
  border: 1px solid var(--nav-border-color);

  svg {
    margin-top: -5px;
    fill: currentColor;
  }
}

// Override Bootstrap styles

a {
  color: var(--primary-color);
}

h1 {
  margin-bottom: 2rem;
  letter-spacing: -2px;
  line-height: .9;

  :lang(ja) & {
    letter-spacing: 0;
  }
}

h2 {
  letter-spacing: -2px;
  line-height: .9;
  margin-left: -3px;

  a {
    display: block;
    text-decoration: 2px underline;
    text-decoration-color: var(--light-primary-color);
  }
  a:hover {
    text-decoration: 2px underline;
  }
}

h3 {
  font-size: 1.75rem;
}

.btn {
  padding-top: .55em;
}

.btn-primary {
  border-radius: 1rem;
  font-family: sans-serif;
  color: var(--button-primary-text-color);
  background-color: var(--button-primary-color);
  border-color: var(--button-primary-color);

  &:focus,
  &:focus:not(:focus-visible),
  &:hover,
  &:active {
    background-color: var(--button-primary-hover-color) !important;
    border-color: var(--button-primary-hover-color) !important;
  }
}

.btn-secondary {
  font-family: sans-serif;
  border-radius: 1rem;

  &,
  &:focus,
  &:focus:not(:focus-visible),
  &:hover,
  &:active {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
  }
}

.form-select {
  font-family: sans-serif;
  cursor: pointer;

  &:focus,
  &:focus:not(:focus-visible),
  &:hover,
  &:active {
    border-color: var(--primary-color);
  }
}

// Text

blockquote {
  padding: .5rem .5rem .5rem .75rem;
  border-left: .5rem solid var(--secondary-color);
  background: transparent;

  & > :last-child {
    margin-bottom: 0;
  }
}

.main-title {
  padding-bottom: 32px;
}

// Intro foxes

.foxes {
  margin: 3rem auto 0 auto;
  padding: 32px 17px 96px 138px;
  height: calc(100px * 2);
  width: calc(150px * 2);
  box-sizing: border-box;

  background-image: url("/images/foxes.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  color: #444;

  text-align: center;
  font: italic 1.5rem "Reenie Beanie", cursive;
  line-height: .75;

  :lang(ja) & {
    font-size: 1.2em;
    line-height: 1;
  }

  strong {
    color: #222;
  }
}

// Editor panes

pre,
code,
.cm-s-tomorrow-night-eighties.CodeMirror,
.CodeMirror pre {
  color: #555;
  font: .9rem "Source Code Pro", "Courier New", monospace;
}

code {
  padding: .2em;
  background: var(--code-light-background-color);
  border-radius: .3rem;
}

pre {
  padding: .5em .5em .5em .75em;
  border-left: .5rem solid var(--primary-color);
  background: var(--code-light-background-color);

  code {
    padding: 0;
    background: transparent;
  }
}

// Code editors

.code-title {
  margin: 1em 0 .5rem 0;

  font-weight: 300;
  font-family: sans-serif;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: inherit;

  opacity: .8;
}

.tryruby-code {
  height: 12rem;
  cursor: text;

  .CodeMirror {
    background: white;
    padding: .25em;
    border-radius: .5rem;
  }
}

.tryruby-code--editor {
  .CodeMirror {
    border: 1px solid var(--code-editor-border-color);
    transition: border-color .2s ease-in-out;
  }
  .CodeMirror-focused {
    border-color: var(--primary-color);
  }
}

.tryruby-code--output {
  .CodeMirror {
    background-color: var(--code-light-background-color);
  }
}

// Code result

.tryruby-output-green,
.tryruby-output-red {
  border-radius: 3px;
  padding: .1em .4em;
  color: white;
  font: 1.1em sans-serif;
}

.tryruby-output-green {
  background: var(--success-color);
}
.tryruby-output-red {
  background: var(--primary-color)
}

// Buttons

.tryruby-buttons {
  margin-top: 1rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Iframe

.playground-iframe-wrapper {
  height: calc(740px * .8 * .8);
  margin: 1rem 0;

  iframe {
    height: 740px;
    width: 125%;
    border: none;
    zoom: .8;
    transform: scale(.8);
    transform-origin: 0 0;
  }
}
